<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SynchronizationWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/PayRoll/SynchronizationWebService.asmx"
          binding="basicHttpBinding" bindingConfiguration="SynchronizationWebServiceSoap"
          contract="SyncServiceReference.SynchronizationWebServiceSoap"
          name="SynchronizationWebServiceSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="SsepsIISynEntities" connectionString="metadata=res://*/SsepsIISynModel.csdl|res://*/SsepsIISynModel.ssdl|res://*/SsepsIISynModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Eugene-PC\SQL2012;initial catalog=SSEPS_Training;persist security info=True;user id=sa;password=pass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="SsepsIISynEntities" connectionString="metadata=res://*/SsepsIISynModel.csdl|res://*/SsepsIISynModel.ssdl|res://*/SsepsIISynModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SSEPSIISVR\SSEPSSVR1;initial catalog=SSEPS;persist security info=True;user id=sa;password=p@55;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="SsepsIISynEntities" connectionString="metadata=res://*/SsepsIISynModel.csdl|res://*/SsepsIISynModel.ssdl|res://*/SsepsIISynModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SSEPS_Training;persist security info=True;user id=sa;password=pass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="SsepsIISynEntities" connectionString="metadata=res://*/SsepsIISynModel.csdl|res://*/SsepsIISynModel.ssdl|res://*/SsepsIISynModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Eugene-PC\SQL2012;initial catalog=SSEPS_Training;user id=sa;password=root@96;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>